.below-nav {
	margin-top: 90px;
}

.property-page-main-image {
	height: 73vh;
    width: 70vw;
	border-radius: 10px;
	margin: 10px auto;
	overflow-y: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
	width: 100%;
	height: 100%;
}

.carousel {
	width: 60vw;
	display: flex;
	height: 100px;
	justify-content: space-around;
	align-items: center;
	margin: 20px auto 10px;
	gap: 1%;
	transition: all 0.3s ease-in-out;
}

.side2 {
	overflow-y: hidden;
	width: 15%;
	height: 60%;
	border-radius: 10px;
}

.side1 {
	overflow-y: hidden;
	width: 17%;
	height: 80%;
	border-radius: 10px;
}

.center {
	overflow-y: hidden;
	width: 32%;
	height: 100%;
	border-radius: 10px;
}

.property-info {
	height: 120px;
    width: 88vw;
    max-width: 870px;
    position: relative;
    margin: 47px auto 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
}

.name {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 48px;
}

.location {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 48px;
}

.icons {
	padding-top: 8px;
	display: flex;
	justify-content: space-around;
	width: 15%;
}
.image {
    width: 100% !important;
    height: 100%;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px, rgb(51 51 51) 0px 0px 0px 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}

