.search-heading {
  width: 80%;
  margin: 10px auto;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}

.search-property-list {
  margin: 40px auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  row-gap: 40px;
  min-height: 20rem;
}

.paginated-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.paginated-box {
  border-radius: 2px;
  padding: 5px 8px;
  border: 1px solid gray;
  color: black;
  cursor: pointer;
}

.paginated-box.active {
  border: 1px solid red;
}

.item {
  padding: 5px;
  border-radius: 10px;
  transform: scale(1);
  transition-duration: 0.5s;
  /* border: 2px solid rgb(3, 218, 247); */
  width: 95%;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.property-info-cards {
  /* padding: 0 4px; */
}

.property-info-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  text-transform: uppercase;
}

.property-info-location {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  justify-content: flex-start !important;
  flex-direction: row-reverse !important;
  /* gap: 0.5rem !important; */
}

.property-info-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.property-info-rating {
  font-size: 16px;
}

.property-rating {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr 1fr;
  align-items: center;
  justify-items: flex-end;
}

.property-rating div:last-child {
  display: flex;
  gap: 2px;
}

.type-of-property-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
}

.filter-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
}

.filter-btn {
  background-color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-btn:hover {
  background-color: #ececec;
  cursor: pointer;
}

.filter-btn h2 {
  margin: 0;
}

.filter-modal {
  width: 40% !important;
  padding: 0 !important;
  align-items: flex-start !important;
  margin-top: 5rem !important;
  text-align: left !important;
  height: 40rem !important;
  min-height: max-content !important;
  justify-content: start !important;
}

.filter-modal button {
  width: 100% !important;
  border-radius: 0 !important;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  place-items: center;
  cursor: initial;
  padding: 1.5rem;
}

.filter-modal h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.filter-body {
  padding: 1.5rem;
  width: 92.2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: auto !important;
  min-height: 80%;
}

.filter-body .filter--coll {
  width: 90%;
}

.filter-body .filter--coll1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filter--coll2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter--coll2 {
  margin-bottom: 2rem;
}
.filter--coll3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filter-body .filter-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1rem 0;
}
.filter-body .filter--coll3 .filter-container {
  margin: 0.5rem 0;
}
.filter-body .filter--coll3 .filter-container:first-child,
.filter-body .filter--coll3 .filter-container:nth-child(2) {
  margin-top: 1rem;
}
.filter-body .filter-container:last-child {
  margin-bottom: 2rem;
}

/* Hide the browser's default checkbox */
.filter-body .filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.filter-body .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #000;
}

/* On mouse-over, add a grey background color */
.filter-body .filter-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.filter-body .filter-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-body .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-body .filter-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-body .filter-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #ff6767;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-modal .apply {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filter-modal .apply-btn {
  width: fit-content !important;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 8px !important;
}

@media screen and (max-width: 1300px) {
  .property-rating div:first-child {
    grid-column: span 3;
  }

  .property-rating div:nth-child(2) {
    grid-column: span 2;
  }
}

@media screen and (max-width: 992px) {
  .property-info-heading {
    font-size: 16px;
    line-height: 24px;
  }

  .property-info-location {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .property-info-heading {
    font-size: 14px;
    line-height: 24px;
  }
  .item:hover {
    transform: scale(1);
    /* transition-duration: 0.5s; */
  }
  .property-info-location {
    font-size: 12px;
  }

  .property-rating div:first-child {
    grid-column: span 1;
  }

  .property-rating div:nth-child(2) {
    grid-column: span 1;
  }
}
