.search-heading {
	width: 80%;
	margin: 10px auto;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 56px;
	text-align: center;
}

.search-property-list {
	margin: 20px auto;
	width: 85%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.item {
	border: 1px solid black;
	padding: 3px;
	border-radius: 10px;
}

.property-info-heading {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
}

.property-info-location {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.property-info-price {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
