.booking-content-wrapper {
	max-width: 85vw;
	margin: 3px auto;
	display: flex;
	justify-content: space-around;
}

.left-section {
	max-width: 50vw;
}

.booking-process-main {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 20fr;
}

.booking-process {
	max-width: 60vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}

.filler {
	padding-bottom: 0px;
}

.booking-item {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
}

.highlight {
	color: #ea4235;
}


@media screen and (max-width: 992px){
	.booking-content-wrapper {
		flex-direction: column;
		place-items: center;
		min-width: 95vw;
	}
	.booking-process{
		margin: auto;
	}
	.left-section{
		width: 80vw;
		min-width: 80vw;
	}
	.booking-process{
		width: 100vw;
	}
}