.side-section{
	width: 30%;
	margin-top: 3rem;
}

.side-section-image-wrapper {
	width: 22vw;
	height: 160px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.image {
	width: 22vw;
	height: 100%;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

[data-attribute-1] {
	margin-top: 3px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
}

[data-attribute-2] {
	margin-bottom: 6px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.booking-side-section-title {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.booking-side-section-info {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 10px;
}

[data-attribute-4] {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

[data-attribute-3]:last-of-type {
	margin-top: 10px;
}
[data-attribute-3] {
    display: flex;
    width: 22vw;
    justify-content: space-between;
}



@media screen and (max-width: 992px){
	.side-section{
		width: 85vw;
		max-width: 90vw;
	}
	.side-section-image-wrapper {
		width: 80vw;
		height: 40vh;
		margin: auto;
	}
	[data-attribute-1], [data-attribute-2] {
		text-align: center;
	}
	[data-attribute-3] {
		width: 80vw;
	}
	.css-7szws5-MuiButtonBase-root-MuiButton-root{
		margin-bottom: 4rem !important;
	}
	[data-attribute-1] {
		font-size: 16px;
	}
	[data-attribute-2] {
		font-size: 14px;
	}
	[data-attribute-4] {
		font-size: 14px;
	}
}