.content-wrapper {
	width: 98vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 400px;
	margin: 50px auto 120px;
	background: #f5f5f5;
	backdrop-filter: blur(9.48954px);
}

.left {
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right {
	max-height: 100%;
}

.content-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 60px 0;
	gap: 30px;
}

.left-heading {
	width: 45%;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 600;
	font-size: 39px;
	line-height: 66px;
	text-align: right;
}

.left-subsection-right {
	width: 45%;
}

.right-image {
	width: 100%;
	height: 100%;
}

.service-image-wrapper {
	margin-top: 70px;
	width: 100%;
	height: 400px;
	overflow-y: hidden;
}

.service-image {
	width: 100%;
	max-height: 100%;
}

.text-on-image-container {
	max-width: 100vw;
	position: relative;
	z-index: -1;
}
