.reason-container {
	width: 97vw;
	margin: 50px auto;
	padding: 10px;
	background: #f5f5f5;
}

.reason-heading {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	text-align: center;
	margin-bottom: 50px;
}

.reason-section {
	width: 90vw;
	margin: 0 auto 50px;
	height: 500px;
	display: flex;
	justify-content: center;
	gap: 30px;
}

/* .image-wrapper {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.reason-image {
	width: 50%;
	max-width: 500px;
	height: calc(100vh - 70px);
	display: block;
	border-radius: 30px;
}

.reason-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.reason-content-item {
	margin-left: 10px;
}

.reason-content-section {
	color: #ff6767;
	display: flex;
	align-items: flex-start;
}

.reason-content-title {
	color: black;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

.reason-content-info {
	color: black;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.reason-content-section > .icon-wrapper {
	width: 40px;
	height: 40px; /* In figma width and height: 54px */
	border-radius: 50%;
	background: #fdeeed;
	color: #ff6767;
	display: flex;
	justify-content: center;
	align-items: center;
}
