.menu-section {
	width: 80vw;
	margin: 75px auto 75px;
}

.menu-headings {
	width: 100%;
	height: fit-content;
	margin: 0px auto 30px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	cursor: pointer;
}

.menu-heading-item {
	margin-top: 3px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
}

.grid-menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	width: 98%;
	height: 75vh;
	gap: 10px;
	margin: 0 auto;
	overflow: hidden;
}

.grid-menu-item-1 {
	position: relative;
	grid-column: span 3;
	overflow-y: hidden;
	border-radius: 10px;
	/* transform: scale(1);
	transition-duration: 0.5s; */
}

.grid-menu-item-2 {
	position: relative;
	grid-row: span 2;
	grid-column: span 3;
	overflow-y: hidden;
	border-radius: 10px;
	/* transform: scale(1);
	transition-duration: 0.5s; */
}

.grid-menu-item-3 {
	position: relative;
	grid-column: span 2;
	overflow-y: hidden;
	border-radius: 10px;
	/* transform: scale(1);
	transition-duration: 0.5s; */
}

.grid-menu-item-1:hover,
.grid-menu-item-2:hover,
.grid-menu-item-3:hover {
	transform: scale(1.01);
	transition-duration: 0.3s;
}

.menu-image {
	width: 99%;
	height: 100%;
	border-radius: 10px;
	transform: scale(1);
	transition-duration: 0.5s;
}

.menu-image:hover {
	filter: brightness(50%);
	/* transform: scale(1.04);
	transition-duration: 0.5s; */
}

.menu-item-text {
	position: absolute;
	color: #ffffff;
	width: 99%;
	bottom: 0px;
	text-align: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	background-color: black;
	opacity: 0.8;
	line-height: 30px;
}

.selected {
	color: #ff6767;
}

.border-arrow {
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: -15px;
}

.hide {
	display: none;
}


@media screen and (max-width: 992px){
	.menu-section {
		width: 85vw;
	}	
	.menu-heading-item {
		font-size: 18px;
	}
	.grid-menu {
		gap: 16px;
	height: 47vh;

	}
}

@media screen and (max-width: 768px){
	.menu-heading-item {
		font-size: 14px;
	}
}

@media screen and (max-width: 576px){
	.menu-section{
		margin-top: 20rem;
	}
	.menu-heading-item {
		font-size: 12px;
	}
	.resp-grid-menu-item-1{
		grid-column: span 6;
		height: 110px;
	}
	.resp-grid-menu-item-2{
		grid-column: span 3;
		height: 100px;
	}
	.menu-item-text{
		font-size: 12px;
	}
}