.about-us-message {
  position: absolute;
  top: 40%;
  left: 100px;
  right: 100px;
  text-align: center;
  font-size: 38px;
  font-family: "Rubik";
  color: white;
  line-height: 140%;
}

.bold {
  font-size: 49px;
  font-weight: 700;
}

.about-us-content {
  padding: 50px;
  font-family: "Rubik";
  font-style: normal;
  width: 80%;
  margin: auto;
}

/* .about-us-content > div {
	padding: 60px 0;
} */

.about-us-content-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 5px;
}

.about-us-content-info {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  margin-top: 2%;
}
.about-us-content-info h6 {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  margin-top: 2%;
}
.content-with-image {
  display: grid;
  margin-top: 12%;
  grid-template-columns: 1.5fr 1fr;
}
/* for careers */
.content-with-image1 {
  display: grid;
  margin-top: 2%;
  grid-template-columns: 1.5fr 1fr;
}

.content-with-image-2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 10%;
}

.about-us-bottom-text {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  text-align: justify;
  align-content: flex-start;
  margin: auto;
  margin-top: 6%;
}

.about-us-content-text {
  font-size: 17px;
  line-height: 24px;
  margin-top: 1%;
}

.about-us-content-text > div {
  margin-bottom: 20px;
}

.about-us-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.buttonHover:hover {
  background-color: #ea4235 !important;
  color: white !important;
  border: 2px solid #f36767 !important;
}
.buttonHover1:hover {
  background-color: white !important;
  color: black !important;
  border: 2px solid #ea4235 !important;
}

@media screen and (max-width: 576px) {
  .about-us-message {
    left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .content-with-image {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    gap: 4rem;
  }
  .content-with-image div:last-child {
    margin-left: -30px;
  }
  .content-with-image-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .content-with-image-2 div:first-child {
    margin-left: -30px;
  }
}

@media screen and (max-width: 992px) {
  .about-us-btn-container {
    flex-direction: column;
  }
  .css-68j4z7-MuiButtonBase-root-MuiButton-root,
  .css-37g7mt-MuiButtonBase-root-MuiButton-root {
    width: 30vw !important;
  }
  .about-us-message {
    font-size: 32px;
  }
  .about-us-content-heading {
    font-size: 24px;
  }
  .about-us-content-info,
  .about-us-content-text {
    font-size: 14px;
  }
  .css-y8eu5t-MuiButtonBase-root-MuiButton-root,
  .css-1wdiwyf-MuiButtonBase-root-MuiButton-root,
  .css-68j4z7-MuiButtonBase-root-MuiButton-root,
  .css-37g7mt-MuiButtonBase-root-MuiButton-root {
    font-size: 12px !important;
  }
}

.image-box1-overlay {
  position: relative;
  top: 15%;
  left: 20%;
  width: 320px;
  height: 320px;
  background-color: #ff6767;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image-box {
  position: absolute;
  top: -30px;
  left: -28px;
  width: 320px;
  height: 320px;
  background-color: #d9d9d9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.image-box2-overlay {
  position: relative;
  top: 15%;
  left: 10%;
  width: 330px;
  height: 330px;
  background-color: #ff6767;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width: 576px) {
  .content-with-image1 {
    grid-template-columns: 1fr;
  }
  .content-with-image-2 {
    gap: 0px;
  }

  .image-box1-overlay,
  .image-box2-overlay,
  .image-box {
    width: 250px !important;
    height: 250px !important;
  }
  .image-box1-overlay,
  .image-box2-overlay {
    margin: 20px 0px;
  }
  .about-us-content {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
  }
  .image-box1-overlay {
    left: 10%;
    margin-bottom: 60px;
    margin-top: -15px;
  }
  .buttonHover1,
  .buttonHover {
    width: 200px !important;
  }
  .about-us-bottom-text {
    grid-template-columns: 1fr;
  }
  .about-us-message {
    font-size: 30px;
  }
}
