.about-us-message {
	position: absolute;
	top: 40%;
	left: 100px;
	right: 100px;
	text-align: center;
	font-size: 38px;
	font-family: "Rubik";
	color: white;
	line-height: 140%;
}

.bold {
	font-size: 49px;
	font-weight: 700;
}

.about-us-content {
	padding: 50px;
	font-family: "Rubik";
	font-style: normal;
	width: 80%;
	margin: auto;
}

/* .about-us-content > div {
	padding: 60px 0;
} */

.about-us-content-heading {
	font-weight: 700;
	font-size: 28px;
	line-height: 44px;
	margin-bottom: 5px;
}

.about-us-content-info {
	font-size: 16px;
	line-height: 26px;
	text-align: justify;
	margin-top: 2%;
}
.about-us-content-info h6 {
	font-size: 16px;
	line-height: 26px;
	text-align: justify;
	margin-top: 2%;
}
.content-with-image {
	display: grid;
	margin-top: 12%;
	grid-template-columns: 1.5fr 1fr;
}
/* for careers */
.content-with-image1 {
	display: grid;
	margin-top: 2%;
	grid-template-columns: 1.5fr 1fr;
}


.content-with-image-2 {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	margin-top: 10%;
}

.about-us-bottom-text {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: 50px;
	text-align: justify;
	align-content: flex-start;
	margin: auto;
	margin-top: 6%;
}

.about-us-content-text {
	font-size: 17px;
	line-height: 24px;
	margin-top: 1%;
}

.about-us-content-text > div {
	margin-bottom: 20px;
}

.about-us-btn-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.buttonHover:hover{
	background-color: #EA4235 !important;
	color: white !important;
	border: 2px solid #f36767 !important;
}
.buttonHover1:hover{
	background-color: white !important;
	color: black !important;
	border: 2px solid #EA4235 !important;
}
