.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu.active {
  width: 250px;
  height: 100vh;
  top: 65px;
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 50px;
  left: 0;
  transition: 350ms;
}

.accounts hr {
  color: black;
  width: 100%;
  text-align: left;
}
.nav-text {
  /* text-decoration: none; */
  font-weight: 900;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 40px;
  padding-bottom: 3%;
  border-radius: 4px;
  background-color: white;
  border: none;
  margin-left: 5px;
  /* border-color: white; */
}

.nav-text:hover {
  color: #ff6767;
}

.sel {
  color: #ff6767;
}

.nav-menu-items {
  top: 30px;
  width: 100%;
  padding: 0;
}

.accounts span {
  margin-left: 16px;
}

.profcomp {
  top: 60px;
  left: 250px;
  display: flex;
  position: absolute;
  flex-direction: column;

}
.accimg {
  border-radius: 50%;
  margin-right: 50px;
}

.accbut {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #ea4235;
  font-size: 15px;
  background-color: #ea4235;
  color: white;
  cursor: pointer;
}

.accounts h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}
.accounts h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
}
.profr {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px;
  width:71.5vw; 
}
.accprofr {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
  width: 100%;
}
.acc-input {
  border: 1px solid lightgray;
  width: 300px;
  padding: 1px 15px;
  height: 35px;
  font-size: 14px;
  margin-top: 3%;
  color: black;
}
.r1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 10px;
  margin-left: 3%;
  justify-content: flex-start;
}
.r1de {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.r2 {
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-around;
}
.r2Password{
  justify-content: left;
}
.css-rehpea-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 4px solid lightgray !important;
  margin-top: 9px;
  width: 334px !important;
  height: 42px !important;
}
.select-updt {
  width: 333px !important;
  height: 43px !important;
  border: 1px solid lightgray;
  margin-top: 2%;
}

.select-updt {
  width: 333px !important;
  height: 43px !important;
  border: 1px solid lightgray;
  margin-top: 2%;
}
.applyChangeAcc{
  margin-left: 75%;
  margin-top: 1%;
}
.accountInfoDiv{
  background-color: beige;
  width: 60%;
}
.changePassword{
  margin-left: 0%;
  margin-bottom: 2%;
}
.deactivateBtn{
  margin-left: 4%;
  margin-bottom: 1%;
}
.paymentH1{
  margin-bottom: 2%;
}
.css-xvpb4p-MuiButtonBase-root-MuiAccordionSummary-root {
  height: 60px !important;
}
.cardsH1{
  font-size: 18px !important;
  font-weight: 500 !important;
}
.paynowBtn{
  width: 200px;
  height: 38px;
  margin-left: 0.8%;
  padding-top: 9px;
  margin-bottom: 3%;
}
.paynowBtnCredit{
  margin-left: 5.4%;
  width: 230px;
}