* {
  /* box-sizing: border-box;   do not apply this commented css. change css in other way*/
  margin: 0;
  /* overflow-x: hidden; */
  padding: 0;
}

/* body {
  min-width: 100vw;
  min-height: 100vh;
} */
