.auth {
	display: flex;
	justify-content: space-between;
	background-color: white;
	width: 70vw;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	height: 90%;
}
/* image part */
.auth-img {
	width: 50%;
	/* border-radius: 3% !important; */
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.auth-img > img {
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .auth-img > img:hover{
 background-color: #f75656;
} */

/* detail part */
.auth-detail {
	margin-top: 20px;
	width: 38%;
}
.auth-detail > div {
	width: 100%;
}
.auth-top {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.auth-top > b {
	font-weight: 600;
	font-size: 15px;
	color: #ff6767;
	cursor: pointer;
}
.auth-detail > div > .auth-top > p {
	font-size: 16px;
	color: #98a1a8;
	margin-bottom: 20px;
}
.auth-detail > div > .auth-top > p > b {
	color: #374047;
	cursor: pointer;
}
.auth-detail > div > h1,
.otp-form > h1 {
	font-size: 39px;
	color: #374047;
	font-weight: 600;
}
form > .horizontal-itm {
	display: flex;
	justify-content: space-between;
}
form > .horizontal-itm > div {
	width: 48%;
}
form > label,
form > .horizontal-itm > div > label {
	margin-top: 14px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #736767;
	font-weight: 500;
	display: inline-block;
}
form > p,
form > .horizontal-itm > div > p {
	font-size: 13px;
	color: #606e79;
	margin-top: 4px;
}
#swch {
	text-align: center;
	margin-top: 23px;
	margin-bottom: 20px;
}
.auth-btn {
	background-color: #ff6767 !important;
	color: white !important;
	margin-top: 7% !important;
	height: 45px !important;
	text-transform: capitalize !important;
}
.auth-btn:hover {
	background-color: #f75656 !important;
}
.diff-auth-type {
	display: flex;
	justify-content: center;
}
.diff-auth-type > .auth-icon {
	color: #374047;
	border: 1px solid #606e79;
	padding: 10px 30px;
	border-radius: 4px;
}
#facebook {
	margin-left: 20px;
	margin-right: 20px;
}
.signin-btn {
	background-color: #ff6767 !important;
	color: white !important;
	margin-top: 10px !important;
	height: 45px !important;
	text-transform: capitalize !important;
}
.singInMainDiv{
	background-image: url("../../Assets/Images/signupinBg.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: contain;
	background-size: cover; 
	height: max-content;
	height: 43.7rem;
	overflow: hidden;
	/* width: 100%; */
}

.authInput{
	width: 100%;
	height: 30px;
	border: 1px solid lightgray;
	padding: 1%;
	padding-left: 10px;
	font-size: 14px;
}
.authInput:focus{
    border: 1px solid #ff6767;
    box-shadow: 0 0 2px #ff6767;
    outline-offset: 0px;
    outline: none;
    }
.authInput::after{
        border: 1px solid #ff6767;
        box-shadow: 0 0 2px #ff6767;
        outline-offset: 0px;
        outline: none;
        }
.dropdownSelect{
	border: 1px solid lightgray;
	width: 100%;
	height: 30px;
	padding: 1%;
	padding-left: 10px;
	font-size: 14px;
}
.dropdownSelect:focus{
    border: 1px solid #ff6767;
    box-shadow: 0 0 2px #ff6767;
    outline-offset: 0px;
    outline: none;
    }
.dropdownSelect::after{
	border: 1px solid #ff6767;
	box-shadow: 0 0 2px #ff6767;
	outline-offset: 0px;
	outline: none;	
}
select option {
	border: 1px solid lightgray;
	width: 100%;
	height: 30px;
	padding: 1%;
	padding-left: 10px;
	font-size: 14px;
}


/* .css-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input,
.css-12yjm75-MuiInputBase-input-MuiOutlinedInput-input,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 1.7em !important;
} */
.normal {
	display: block;
	margin-top: 5px;
	width: 95%;
	height: 32px;
	color: #808b93;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 1.5px solid #dee0e2;
	border-radius: 4px;
	background: #ffffff;
	

	display: block;
    margin-top: 7px;
    width: 90%;
    height: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #ffffff;
    border: 2px solid lightgray;
    padding-left: 7%;
	padding-right: 3%;
    border-radius: 4px;
    color: black;
}

.focus {
    display: block;
    margin-top: 7px;
    width: 90%;
    height: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #ffffff;
    border: 2px solid lightgray;
    padding-left: 7%;
    border-radius: 4px;
    color: black;
}

.pass{
	border: 0 !important;
	margin-bottom: 10px;
	width: 104%;
	margin-left: -2.5%;
}

form p{
	margin-top: 15px;
}

.conf-modal{
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	place-items: center;
	border-radius: 8px;
	width: 100%;
	text-align: center;
}


@media screen and (max-width: 992px){
	.auth{
		justify-content: center;
	}
	.auth-img {
		width: 0;
	}
	.auth-detail{
		width: 80%;
	}
	.auth-img > img {
		display: none;
	}
}

@media screen and (max-width: 576px){
	.auth-top > b, form > label, form > .horizontal-itm > div > label, form > p, form > .horizontal-itm > div > p {
		font-size: 11px;
	}
	.auth-detail > div > .auth-top > p, .authInput, .dropdownSelect, select option, .normal, .focus {
		font-size: 12px;
	}
	.auth-detail > div > h1,
	.otp-form > h1 {
		font-size: 30px;
	}
}