.auth {
  display: flex;
  justify-content: space-between;
}
/* image part */
.auth-img {
  width: 45%;
}
.auth-img > img {
  width: 100%;
  height: 99vh;
}

/* detail part */
.auth-detail {
  margin-top: 20px;
  width: 35%;
}
.auth-detail > div {
  width: 100%;
}
.auth-top {
  display: flex;
  justify-content: space-between;
}
.auth-top > b {
  font-weight: 600;
  font-size: 15px;
  color: #ff6767;
  cursor: pointer;
}
.auth-detail > div > .auth-top > p {
  font-size: 16px;
  color: #98a1a8;
  margin-bottom: 20px;
}
.auth-detail > div > .auth-top > p > b {
  color: #374047;
  cursor: pointer;
}
.auth-detail > div > h1,
.otp-form > h1 {
  font-size: 39px;
  color: #374047;
  font-weight: 600;
}
form > .horizontal-itm {
  display: flex;
  justify-content: space-between;
}
form > .horizontal-itm > div {
  width: 48%;
}
form > label,
form > .horizontal-itm > div > label {
  margin-top: 14px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #736767;
  font-weight: 500;
  display: inline-block;
}
form > p,
form > .horizontal-itm > div > p {
  font-size: 13px;
  color: #606e79;
  margin-top: 4px;
}
#swch {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 20px;
}
.auth-btn {
  background-color: #ff6767 !important;
  color: white !important;
  margin-top: 16px !important;
  height: 45px !important;
  text-transform: capitalize !important;
}
.auth-btn:hover {
  background-color: #f75656 !important;
}
.diff-auth-type {
  display: flex;
  justify-content: center;
}
.diff-auth-type > .auth-icon {
  color: #374047;
  border: 1px solid #606e79;
  padding: 10px 30px;
  border-radius: 4px;
}
#facebook {
  margin-left: 20px;
  margin-right: 20px;
}
.css-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input,
.css-12yjm75-MuiInputBase-input-MuiOutlinedInput-input,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 1.7em !important;
}
