.auth {
	display: flex;
	justify-content: space-between;
	/* background-color: beige; */
	width: 95%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	height: 90vh;
}
/* image part */
.auth-img {
	width: 50%;
	/* border-radius: 3% !important; */
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.auth-img > img {
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .auth-img > img:hover{
 background-color: #f75656;
} */

/* detail part */
.auth-detail {
	margin-top: 20px;
	width: 38%;
}
.auth-detail > div {
	width: 100%;
}
.auth-top {
	display: flex;
	justify-content: space-between;
}
.auth-top > b {
	font-weight: 600;
	font-size: 15px;
	color: #ff6767;
	cursor: pointer;
}
.auth-detail > div > .auth-top > p {
	font-size: 16px;
	color: #98a1a8;
	margin-bottom: 20px;
}
.auth-detail > div > .auth-top > p > b {
	color: #374047;
	cursor: pointer;
}
.auth-detail > div > h1,
.otp-form > h1 {
	font-size: 39px;
	color: #374047;
	font-weight: 600;
}
form > .horizontal-itm {
	display: flex;
	justify-content: space-between;
}
form > .horizontal-itm > div {
	width: 48%;
}
form > label,
form > .horizontal-itm > div > label {
	margin-top: 14px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #736767;
	font-weight: 500;
	display: inline-block;
}
form > p,
form > .horizontal-itm > div > p {
	font-size: 13px;
	color: #606e79;
	margin-top: 4px;
}
#swch {
	text-align: center;
	margin-top: 23px;
	margin-bottom: 20px;
}
.auth-btn {
	background-color: #ff6767 !important;
	color: white !important;
	margin-top: 14% !important;
	height: 45px !important;
	text-transform: capitalize !important;
}
.auth-btn:hover {
	background-color: #f75656 !important;
}
.diff-auth-type {
	display: flex;
	justify-content: center;
}
.diff-auth-type > .auth-icon {
	color: #374047;
	border: 1px solid #606e79;
	padding: 10px 30px;
	border-radius: 4px;
}
#facebook {
	margin-left: 20px;
	margin-right: 20px;
}
.signin-btn {
	background-color: #ff6767 !important;
	color: white !important;
	margin-top: 10px !important;
	height: 45px !important;
	text-transform: capitalize !important;
}
.singInMainDiv{
	background-image: url("../../Assets/Images/signupinBg.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: contain;
	background-size: cover; 
	height: max-content;
	height: 93.5vh;
	/* width: 100%; */
}
/* .css-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input,
.css-12yjm75-MuiInputBase-input-MuiOutlinedInput-input,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 1.7em !important;
} */
