.myMessage {
  text-align: center;
  right: 70px;
  margin-top: 5.3%;
  color: white;
  font-weight: 800;
  font-size: 3rem;
}
.container {
  width: 88%;
  margin: auto;
  /* background-color: beige; */
  margin-top: 5%;
  box-sizing: border-box;
}
.Div1 {
  width: 33%;
  height: 20%;
  box-sizing: border-box;
  display: inline-block;
  /* border: 1px solid black; */
  padding: 2%;
}
.resoourceImg {
  height: 300px;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resourceContent h3 {
  margin-top: 4%;
}
.resourceContent p {
  margin-top: 4%;
  line-height: 1.2;
}
.readmore {
  color: red;
}
.resourceContent > a {
  text-decoration: none;
  color: red;
}

.singleBlogContent {
  width: 90%;
  margin: 25px auto;
}
.reactions {
  display: flex;
  gap: 20px;
  width: 69%;
  margin: 10px auto;
  justify-content: flex-start;
  align-items: center;
}

.singleBlogContent > h1 {
  margin-bottom: 5px;
}

.comments {
  width: 64%;
  margin: 1% auto 2% auto;
  border: 2px solid #ea4235;
  padding: 27px 3%;
  border-radius: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.comment-input-field {
  width: 100%;
  display: flex;
  gap: 10px;
}

.userCommentSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.comment {
  margin: 20px 0;
}

.comment-body {
  margin-top: 10px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 11px;
}

/* ///styling  */
.Blog_container {
  width: 80%;
  margin: 2rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}

.Blog_container_div {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.Blog_containerImage {
  width: 100%;
  height: 300px;

  box-shadow: rgba(112, 112, 112, 0.35) 0px 5px 15px;
}

.blog_image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_heading {
  margin-top: 1rem;
}

.blog_readMore {
  color: #ea4235;
  margin-top: 1rem;
}
@media screen and (max-width: 996px) {
  .Blog_container {
    width: 90%;
  }
  .Blog_container_div {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .Blog_container_div {
    width: 80%;
    margin: 0 auto;
    align-self: center;
  }
}

@media screen and (max-width: 576px) {
  .Blog_container {
    width: 85%;
  }
  .Blog_container_div {
    width: 100%;
  }
}
