
.myMessage{
    text-align: center;
    right: 70px;
    margin-top: 5.3%;
    color: white;
    font-weight: 800;
    font-size: 3rem;
    }
.container{
    width: 88%;
    margin: auto;
    /* background-color: beige; */
    margin-top: 5%;
    box-sizing: border-box;
}
.Div1{
    width: 33%;
    height: 20%;
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid black; */
    padding: 2%;
}
.resoourceImg{
    height: 300px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resourceContent h3{
    margin-top: 4%;
}
.resourceContent p{
    margin-top: 4%;
    line-height: 1.2;
}
.readmore{
    color: red;
}