.booking-list-header {
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 30px;
	margin: 10px auto;
	border-bottom: 2px solid gray;
}

.chosen {
	color: #ea4235;
	background: #ebebeb;
	border-radius: 8px;
}

.option {
	cursor: pointer;
	width: 150px;
	height: 50px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 36px;
	text-align: center;
	padding-top: 13px;
}

.e-hide {
	display: none;
}

