.cancellation-container {
  width: 80vw;
  margin: 20px auto;
}
.tas-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cancellation-container > h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #f26767;
  margin-top: 8% !important;
}

.activity-card-container {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.accordion-container > h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .tas-card-container {
    flex-direction: column;
  }
}

.tas-card-container {
  width: 100%;
  display: grid;
  margin: 2rem auto 0;

  grid-template-columns: repeat(4, 1fr);

  gap: 2rem;
}

@media screen and (max-width: 992px) {
  .tas-card-container  {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 596px) {
  .tas-card-container  {
    grid-template-columns: repeat(1, 1fr);
  }
}
