.cookie-table-container {
	width: 85%;
	margin: 40px auto;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
}

.cookie-table {
	width: 90%;
	margin: 40px auto;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr;
	row-gap: 30px;
	column-gap: 10px;
}

.cookie-table > .allow-column {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cookie-table > .allow-column > div > #allow {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #444;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.cookie-table > .allow-column > div > #allow:checked {
	background-color: #ff6767;
}
