.myMessage {
  color: white;
  text-align: center;
  right: 100px;
  margin-top: 150px;
}
.subtextBanner {
  font-size: 1.9rem;
  line-height: 2;
  margin-top: 2%;
}
.container1,
.container2 {
  /* background-color: aqua; */
  margin-top: 11%;
  position: relative;
}
.leftContainer1 {
  width: 45%;
  display: inline-block;
  /* background-color: bisque; */
}
/* .contentLeftContainer {
  width: 35%;
  display: inline-block;
  position: absolute;
  top: 16%;
  left: 13%;
} */
.contentLeftContainerSubtext,
.contentRightContainerSubtext {
  margin-top: 3%;
  text-align: justify;
  line-height: 2;
}
.rightContainer1 {
  width: 45%;
  display: inline-block;
}
.colouredbg {
  background-color: #ff6767;
  height: 350px;
  width: 70%;
  margin-left: 24%;
  position: relative;
}
.container1Img {
  height: 350px;
  width: 100%;
  position: absolute;
  bottom: 8%;
  right: 15%;
}
.rightContainer2 {
  width: 45%;
  display: inline-block;
  /* background-color: bisque; */
}
/* .contentRightContainer {
  width: 35%;
  display: inline-block;
  position: absolute;
  top: 16%;
  right: 7%;
} */
.contenRightContainerSubtext {
  margin-top: 3%;
  line-height: 2;
}
.leftContainer2 {
  width: 45%;
  display: inline-block;
}
.container1Img {
  height: 350px;
  width: 100%;
  position: absolute;
  bottom: 9%;
  left: 8%;
}
.faqSection {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 50px;
}
.faqSection h1 {
  font-weight: 800;
  /* margin-bottom: 3%; */
}
.faqContent {
  text-align: left;
  /* background-color: beige; */
  width: 70%;
  margin: auto;
}
.faqContent h2 {
  font-weight: 800;
  margin-bottom: 3%;
  margin-top: 5%;
  position: relative;
}
.faqContent p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 1%;
  margin-bottom: 1%;
}
.faqContentPAddClass {
  display: none;
}
.dropDownArrow {
  position: absolute;
  right: 0%;
  top: 3%;
}

.help-info {
  width: 80%;
  margin: 50px auto;
}

.help-info > h1 {
  margin-bottom: 10px;
}

.container1,
.container2 {
  display: flex;
  justify-content: center;
}
.contentLeftContainer,
.contentRightContainer {
  padding: 50px;
}

.rightContainer2 {
  margin-right: auto;
}

@media screen and (max-width: 576px) {
  .container1 {
    flex-direction: column;
  }
  .container2 {
    flex-direction: column-reverse;
    margin: 0px;
  }
  .leftContainer1 {
    width: 80%;
  }
  .contentLeftContainer {
    padding: 20px;
    width: 100%;
  }
  .contentRightContainer {
    padding: 20px;
    width: 80%;
  }
  .rightContainer1,
  .rightContainer2,
  .leftContainer2 {
    width: 100%;
    margin: 20px 0px;
  }
  .colouredbg,
  .container1Img {
    height: 250px;
    width: 250px;
  }
  .colouredbg {
    margin: 0px auto;
    transform: translateX(-20px);
  }
}
