.reset-password > form {
  width: 390px;
  margin: auto;
  margin-top: 6%;
  background-color: white;
  padding: 30px;
  border: 1px solid;
  border-radius: 3px;
}

.reset-password > form > h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(94, 94, 94);
  font-weight: 500;
}

.modal-reset {
  width: 350px;
  margin: auto;
  margin-top: 9%;
}
