.myMessage {
	text-align: center;
	right: 40px;
	margin-top: 7.5%;
	color: white;
	font-weight: 800;
	font-size: 3rem;
}
.container {
	width: 82%;
	margin: auto;
	margin-top: 5%;
	box-sizing: border-box;
}
.Div1 {
	width: 49.5%;
	box-sizing: border-box;
	display: inline-block;
	/* border: 1px solid black; */
	padding: 3%;
}
.resoourceImg {
	height: 350px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resourceContent h3 {
	margin-top: 4%;
}
.resourceContent p {
	margin-top: 4%;
	line-height: 1.2;
}
.readmore {
	color: red;
}
